<h1 class="fancy-title">Genres</h1>

<%= link_to 'Add New Genre', new_genre_path, class: "fancy-link" %>
<br><br>

<ul>
  <% @genres.each do |genre| %>
    <li class="fancy-list"><span class="fancy-text"><%= genre.name %></span></li>
  <% end %>
</ul>

<%= link_to 'Home', songs_path, class: "back-link" %>